USE [master]
GO
/****** Object:  Database [IMG]    Script Date: 12/11/2020 9:11:57 PM ******/
CREATE DATABASE [IMG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IMG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IMG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMG]
GO
/****** Object:  Table [dbo].[IMG]    Script Date: 12/11/2020 9:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LINK] [varchar](254) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[IMG] ON 

INSERT [dbo].[IMG] ([ID], [LINK]) VALUES (3, N'https://ipfs.io/ipfs/QmVsKP1tySE6eL3PpPE8P2W6Agr3xVi9WT1CDrL6AjyeWQ')
INSERT [dbo].[IMG] ([ID], [LINK]) VALUES (4, N'https://ipfs.io/ipfs/QmfJ8NcPEFh7BhYFUTYxk4YFC8bJ87K4FfCynE88A3KGeU')
SET IDENTITY_INSERT [dbo].[IMG] OFF
GO
USE [master]
GO
